@page "/"

<PageTitle>Home</PageTitle>

<FluentLabel Typo="Typography.H1" MarginBlock="default">Ads List App</FluentLabel>

<FluentLabel Typo="Typography.Body" MarginBlock="default">
    Welcome to the Ads List App.
</FluentLabel>

<FluentLabel Typo="Typography.Body" MarginBlock="default">
    This is a simple app that allows you to view and manage a list of ads.
</FluentLabel>

<FluentLabel Typo="Typography.Body" MarginBlock="default">
    To get started, click on the "<a href="/ads-list">Ads List</a>" link in the navigation bar.
</FluentLabel>
